{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeaSight | Вписване</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'auth.css' %}">
    <link rel="stylesheet" href="{% static 'alerts.css' %}">
    <!--BOOTSTRAP ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo/logo.png' %}">
</head>
<body>
    <img src="{% static 'images/login_img.jpg' %}" class="auth-image">

    <div class="form-section">
        <div class="rectangle" aria-hidden="true"></div>
        <div class="form-section-top">
            <div class="branding">
                <img class="brand-icon" src="{% static 'images/logo/logo.png' %}" />
                <div class="text-wrapper">SeaSight</div>
            </div>
            <div class="header">
                <h1>Вписване</h1>
                <p>Нямате акаунт? <a href="{% url 'register' %}" class="link-primary-bold">Регистрирайте се</a></p>
            </div>
            <div class="seperator">
            </div>
        </div>

        <form method="post">
            {% csrf_token %}

            {% for message in messages %}
                <div class="alert-{{message.tags}}">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                    </svg>

                    {{message}}

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg alert-close" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
            {% endfor %}
            
            {% for field in form %}
                <div class="input-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    
                    {% if field.errors %}
                        {{ field|add_class:"input-error" }}
                        {% for error in field.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        
                        {% if field.field.widget.input_type == 'password' %}
                            
                            <div class="password-wrapper"> 
                                {{ field }} <i class="bi bi-eye-fill toggle-btn" id="toggle"></i>
                            </div>
                            
                        {% else %}
                            {{ field }} {% endif %}
                        
                    {% endif %}

                    {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="input-group-inline">
                <input type="checkbox">
                <label>Запомни ме на това устройство</label>
            </div>
            
            <button class="btn-primary" type="submit" aria-label="Влизане">
                Влизане
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </button>
        </form>

        <span class="help">Забравена парола? 
            <a href="{% url 'enter_mail' %}" class="link-primary">
                Обновете
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                </svg>
            </a>  
        </span>
    </div>
</body>

<script src="{% static 'js/closeAlert.js' %}"></script>

<script src="{% static 'js/togglePasswordButton.js' %}"></script>
</html>