{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeaSight | Login</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="d-flex">
        <img src="{% static 'images/grahpic_white.jpg' %}" class="side-image">
        <img src="{% static 'images/graphic_dark.jpg' %}" class="side-image invisible">

        <div class="d-flex flex-col p-80 gap-24">

            <div class="d-flex">
                <img src="{% static 'images/logo.png' %}" class="pic-36">
                <p class="fw-bold fs-16">SeaSight</p>
            </div>

            <div class="d-flex flex-col mb-0">
                <h1 class="fs-48 fw-semibold my-0">Влизане</h1>
                <p class="mt-0 fw-light mb-24">Нямате акаунт? <a href="{% url 'login' %}" class="link-default fw-semibold">Регистрайте се<i class="bi bi-person-plus-fill"></i></a></p>
            </div>

            <div class="break-line-xl"></div>

            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-8 d-flex flex-col gap-4">
                        <label for="{{ field.id_for_label }}" class="form-label fw-semibold">{{ field.label }}</label>
                        {{ field|add_class:"input-box" }}

                        {% if field.help_text %}
                            <div class="text-help">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn-default">Влизане</button>

                <p class="mt-0 fw-light mb-24">Забравена парола? <a href="{% url 'login' %}" class="link-default fw-semibold">Обнови<i class="bi bi-person-plus-fill"></i></a></p>
            </form>
        </div>
    </div>
</body>
</html>