{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeaSight | Регистрация</title>
    <link rel="stylesheet" href="{% static 'auth.css' %}">
</head>
<body>
    <img src="{% static 'images/login_img.jpg' %}" class="auth-image">

    <div class="form-section">
        <div class="rectangle" aria-hidden="true"></div>
        <div class="form-section-top">
            <div class="branding">
                <img class="brand-icon" src="{% static 'images/logo/logo.png' %}" />
                <div class="text-wrapper">SeaSight</div>
            </div>
            <div class="header">
                <h1>Регистрация</h1>
                <p>Имате акаунт? <a href="{% url 'login' %}" class="link-primary-bold">Вписване</a></p>
            </div>
            <div class="seperator">
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="input-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    {{ field|add_class:"input-error" }}
                {% else %}
                    {{ field }}
                {% endif %}

                    {% if field.help_text %}
                    <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button class="btn-primary" type="submit" aria-label="Влизане">
                Регистрай
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </button>
        </form>
    </div>
</body>
</html>