{% load static %}
<link rel="stylesheet" href="{% static 'nav.css' %}">
<nav>
    <ul>
        <a href="{% url 'dashboard' %}">
            <li class="active" id="dashboard">
                Табло
            </li>
        </a>
        <a href="{% url 'tasks' %}">
            <li id="missions">
                Мисии
            </li>
        </a>
        <a href="{% url 'map' %}">
            <li id="nav-map">
                Карта
            </li>
        </a>
        <a href="{% url 'account' %}">
            <li id="account">
                Профил
            </li>
        </a>
    </ul>
</nav>

<script src="{% static 'js/navBar.js' %}"></script>