{% load widget_tweaks %}

<div class="modal-overlay">

    <!--* ADD MODAL -->
    <div class="modal" id="add-beach-modal">
        <div class="rectangle"></div>
        <div class="modal-top">
            <div class="modal-top-wrapper">
                <div class="modal-top-content">
                    <h3><i class="bi bi-geo-alt-fill"></i> Нова локация</h3>
                    <p>Локацията ще бъде публичена, след като <br>заявката ви бъде одобрена от администратор</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" onclick="closeAddModal()" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
            <div class="modal-seperator"></div>
        </div>
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="add_beach">

                {% for field in beach_add_form %}
                    {% if field.is_hidden %} 
                    {% elif field.field.widget.input_type != 'checkbox' and field.field.widget.input_type != 'radio' and field.field.widget.input_type != 'multiple' and field.field.widget.input_type != 'select' %}
                        <div class="modal-input-group">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {% for error in field.errors %}<p class="error-message">{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="modal-checks-wrapper">
                    {% for field in beach_add_form %}
                        {% if field.field.widget.input_type == 'checkbox' %}
                            <div class="modal-inline-input">{{ field }}{{ field.label_tag }}</div>
                        {% elif field.field.widget.input_type == 'radio' or field.field.widget.input_type == 'multiple' or field.field.widget.input_type == 'select' %}
                            <p>{{ field.label_tag }}</p>
                            <div class="modal-inline-options">{{ field }}</div>
                        {% endif %}
                    {% endfor %}
                </div>

                <button type="submit" name="add_beach_submit" class="btn-primary-sm">
                    Добави
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <!--* LOG MODAL -->
    <div class="modal" id="log-beach-modal">
        <div class="rectangle"></div>
        <div class="modal-top">
            <div class="modal-top-wrapper">
                <div class="modal-top-content">
                    <h3><i class="bi bi-journal-plus"></i> Докладвайте условия</h3>
                    <p>Промените Ви ще бъдат отразени веднага</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" onclick="closeLogsModal()" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
            <div class="modal-seperator"></div>
        </div>
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" id="log-beach-form">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="log_beach">
                {% for hidden in beach_log_form.hidden_fields %}{{ hidden }}{% endfor %}

                {% for field in beach_log_form %}
                    {% if field.name == 'image' or field.name == 'note' %}
                        <div class="modal-input-group">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {% for error in field.errors %}<p class="error-message">{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="modal-checks-wrapper grid grid-cols-2 gap-4">
                    {% for field in beach_log_form %}
                        {% if not field.is_hidden and field.name != 'image' and field.name != 'note' %}
                            <div class="modal-input-group">
                                <p class="font-semibold text-sm mb-1">{{ field.label_tag }}</p>
                                <div class="modal-inline-options">{{ field|add_class:"form-select" }}</div>
                                {% for error in field.errors %}<p class="error-message">{{ error }}</p>{% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <button type="submit" class="btn-primary-sm">
                    Добави Доклад
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <!--* REPORT MODAL -->
    <div class="modal" id="report-beach-modal">
        <div class="rectangle"></div>
        <div class="modal-top">
            <div class="modal-top-wrapper">
                <div class="modal-top-content">
                    <h3><i class="bi bi-flag"></i> Сигнал</h3>
                    <p>Сигналът Ви ще бъде разгледан от модератор.</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" onclick="closeReportModal()" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
            <div class="modal-seperator"></div>
        </div>
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="report_beach">
                {% for hidden in beach_report_form.hidden_fields %}{{ hidden }}{% endfor %}

                {% for field in beach_report_form %}
                    {% if field.field.widget.input_type != 'checkbox' and field.field.widget.input_type != 'radio' and field.field.widget.input_type != 'multiple' and field.field.widget.input_type != 'select' %}
                        <div class="modal-input-group">
                            {{ field.label_tag }}
                            {% if field.name == "category" %}
                                {{ field|add_class:"form-select" }}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                            {% for error in field.errors %}<p class="error-message">{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

                <button type="submit" class="btn-primary-sm">
                    Подай Сигнал
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>