# Virtual environment
/venv/
.venv/

# Environment values
.env
/env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
migrations/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info
.installed.cfg
MANIFEST

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
htmlcov/

# IDE files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Other temporary files
*~