{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeaSight | Табло</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo/logo.png' %}">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <sea-sight-sidebar
        data-username="{{ user.username }}"
        data-level="Level 10"
        data-pfp="{{ user.profile_image.url }}"
        dashboard-url="{% url 'dashboard' %}"
        map-url="{% url 'map' %}"
        logs-url="{% url 'my_logs' %}"
        account-url="{% url 'account' %}"
        logout-url="{% url 'logout' %}"
        settings-url="{% url 'settings' %}"
        terms-url="{% url 'terms' %}">
    </sea-sight-sidebar>
</body>
<script src="{% static 'js/closeAlert.js' %}"></script>
<script src="{% static 'js/sideBar.js' %}?v=2" defer></script>
</html>