/* alerts */
.alert-danger{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid #E63946;
    border-radius: 10px;
    background-color: rgba(230, 57, 70, 0.1);
    color: #222222;
    font-size: 16px;
    gap: 16px;
}
.alert-danger svg {
    color: #E63946;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.alert-success{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid #2ECC71;
    border-radius: 10px;
    background-color: rgba(46, 204, 113, 0.1);
    color: #222222;
    font-size: 16px;
    gap: 16px;
}
.alert-success svg {
    color: #2ECC71;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

/* Help Icons */
.help svg {
    color: #048FE6;
    transform: translateY(3px);
    aspect-ratio: 1/1;
    width: 16px;
}

/* Decorative Elements */
.rectangle {
    display: none;
}

@media(prefers-color-scheme: dark){
    .alert-danger, 
    .alert-success {
        color: white;
    }

}