@import url(https://fonts.googleapis.com/css?family=Onest:100,200,300,regular,500,600,700,800,900);

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Onest", sans-serif;
    color: #222222;
    min-height: 100vh;
}

/* Root Variables */
:root {
	/* ---------- COLORS ---------- */
	--color-primary: #048FE6;
	--color-success: #2ECC71;
	--color-danger: #E63946;
	--color-warning: #F5B700;

	/* ---------- BUTTONS ---------- */
	--button-primary: var(--color-primary);
	--button-success: var(--color-success);
	--button-danger: var(--color-danger);
	--button-warning: var(--color-warning);

	/* ---------- BORDERS ---------- */
	--border-success: var(--color-success);
	--border-danger: var(--color-danger);
	--border-warning: var(--color-warning);
    --border-primary: var(--color-primary);

	/* ---------- BACKGROUNDS ---------- */
	--background-primary: #FCFCFC;
	--background-secondary: ;

	/* ---------- TYPOGRAPHY ---------- */
	--font-family-base: ;
	--font-family-heading: ;
	--font-size-sm: ;
	--font-size-md: ;
	--font-size-lg: ;
	--line-height-base: ;

	/* ---------- SPACING ---------- */
	--space-xs: ;
	--space-sm: ;
	--space-md: ;
	--space-lg: ;
	--space-xl: ;

    /* ---------- INPUTS ---------- */
    --input-bg: #fcfcfc;

	/* ---------- RADIUS ---------- */
	--radius-sm: 5px;
	--radius-md: 10px;
	--radius-lg: 15px;
    --radius-circle: 50%;
	
    /* ---------- SHADOWS ---------- */
    --shadow-sm: ;
	--shadow-md: ;
	--shadow-lg: ;

    /* ---------- GLOWS ---------- */
    --glow-stndrt: filter: blur(60px);
    
    /* ---------- OPACITIES ---------- */

    --opacity-5: 5%;
    --opacity-10: 10%;
    --opacity-20: 20%;
    --opacity-30: 30%;
    --opacity-40: 40%;
    --opacity-50: 50%;
    --opacity-60: 60%;
    --opacity-70: 70%;
    --opacity-80: 80%;
    --opacity-90: 90%;
    --opacity-95: 95%;

	/* ---------- TRANSITIONS ---------- */
	--transition-speed: 0.2s;
	--transition-easing: ease-in-out;
}

:root {
	/* ---------- TEXT ---------- */
	--text-dark: #222222;
	--text-light: #F8F8F8;
	--text-primary: var(--color-primary);
	--text-success: var(--color-success);
	--text-danger: var(--color-danger);
	--text-warning: var(--color-warning);

	/* ---------- HELP TEXT & PLACEHOLDER ---------- */
	--text-help: #939393;
	--placeholder: #C8C8C8;

	/* ---------- SUBTLE BORDER ---------- */
	--border-subtle: #EEEEEE;
}

/* ---------- DARK MODE ---------- */
@media (prefers-color-scheme: dark) {
	:root {
		/* ---------- TEXT ---------- */
		--text-dark: #F8F8F8;
		--text-light: ;
		--text-primary: var(--color-primary);
		--text-success: var(--color-success);
		--text-danger: var(--color-danger);
		--text-warning: var(--color-warning);

		/* ---------- HELP TEXT & PLACEHOLDER ---------- */
		--text-help: #989898;
		--placeholder: #656566;

		/* ---------- BORDERS ---------- */
		--border-subtle: #383838;


	}
}

/* Layout & Sections */
.auth-image {
    width: 64vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.form-section {
    padding: 64px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-section-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

/* Branding */
.brand-icon {
    aspect-ratio: auto;
    height: 20px;
}

.branding {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-primary);
    font-weight: 800;
    user-select: none;
}

/* Header */
.hedar {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.header h1 {
    font-size: 64px;
    margin-bottom: 0;
}

.password-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}
.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}
.password-wrapper .toggle-btn {
    position: absolute; 
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary);
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

/* Links */
.link-primary {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 400;
}

.link-primary-bold {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}

/* Separators */
.seperator {
    background-color: #EFEFEF;
    width: 100%;
    height: 2px;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form label {
    font-size: 18px;
    user-select: none;
}

form input {
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #EEEEEE;
    background-color: #fcfcfc;
    color: #222222;
    font-family: "Onest", sans-serif;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

form input:-webkit-autofill,
form textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(4, 143, 230, 0.05) inset;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.input-error{
    border: 1px solid #E63946;
    color: #E63946;
}

form input:focus{
    border: 1px solid #048FE6;
    outline: none;
}

form input::placeholder {
    color: #C8C8C8;
    font-weight: 300;
}

.input-group-inline {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.input-group-inline input {
    aspect-ratio: 1/1;
    width: 14px;
    border-radius: 1px;
    border: 1px solid #C5C5C5;
    transition: 0.2s ease-in-out all;
}

/* Checkbox */
input[type="checkbox"] {
    accent-color: #048FE6;
}

/* Buttons */
.btn-primary {
    background-color: #048FE6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    font-family: "Onest-Regular", Helvetica;
    color: #ffffff;
    font-size: 20px;
    line-height: normal;
    width: fit-content;
    font-weight: 300;
}

.btn-primary svg {
    width: 27px;
    height: 20px;
}

.btn-primary:hover {
    background-color: rgba(4, 143, 230, 0.9);
}

.btn-primary:active {
    transform: scale(0.98);
}

.btn-primary:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

p.help-text{
    color: #939393;
    font-size: 12px;
}

.text-secondary{
    color: #939393;
}

.btn-primary .vector {
    position: relative;
    width: 19px;
    height: 12px;
}

.back-button{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s ease-in-out all;
    gap: 4px;
}
.back-button:hover{
    color: #E63946;
}

.auth-image,
.form-section {
    height: 100vh;
}

@media(max-width: 480px) {
    .auth-image {
        display: none;
    }

    .form-section {
        padding: 32px;
    }

    form .btn-primary {
        width: 100%;
    }

    .header h1 {
        font-size: 42px;
    }

    .rectangle {
        display: block;
        width: 100%;
        height: 50px;
        position: fixed;
        top: -45px;
        left: 0;
        background-color: #048fe6;
        filter: blur(60px);
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    form input {
        border-radius: 10px;
        padding: 16px;
        border: 1px solid #383838;
        background-color: #242424;
        color: #ffffff;
        font-family: "Onest", sans-serif;
        font-size: 18px;
    }

    .alert-danger, 
    .alert-success {
        color: white;
    }


    .form-section {
        background-color: #1C1C1E;
        color: #ffffff;
    }

    .form-section label {
        color: #f5f5f5;
    }

    .seperator {
        background-color: #2B2B2B;
    }

    p.help-text , .text-secondary {
        color: #989898;
    }
}