@import url(https://fonts.googleapis.com/css?family=Onest:100,200,300,regular,500,600,700,800,900);
html, body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Onest", sans-serif;
    background: #FBFBFB;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.info-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 340px;
    height: 100%;
    background: #FBFBFB;
    color: #222222;
    box-shadow: -2px 0 10px rgba(0,0,0,0.15);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    z-index: 1500;
    padding: 32px;
    border-radius: 10px;
}
.info-panel.visible { transform: translateX(0); }
.info-panel #close-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.info-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    border-radius: 10px 10px 0 0;
    z-index: 1500;
}
.info-bottom.visible { transform: translateY(0); }
#drag-handle {
    width: 40px;
    height: 5px;
    background: #ccc;
    border-radius: 3px;
    margin: 10px auto;
    cursor: grab;
}
#info-bottom-content { padding: 1rem; max-height: 70vh; overflow-y: auto; }

@media (min-width: 768px) { .info-bottom { display: none; } }
@media (max-width: 767px) { .info-panel { display: none; } }

.btn-red {
    background: #e63946; color: #fff; border: none;
    padding: 0.6rem 1rem; border-radius: 8px; cursor: pointer; margin-top: 1rem;
}
.btn-red:hover { background: #d62839; }

.btn-primary {
    background-color: #048FE6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    font-family: "Onest", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: normal;
    width: fit-content;
    font-weight: 300;
}

.btn-primary svg {
    width: 27px;
    height: 20px;
}

.btn-primary:hover {
    background-color: rgba(4, 143, 230, 0.9);
}

.btn-primary:active {
    transform: scale(0.98);
}

.btn-primary:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media(prefers-color-scheme: dark){
    .info-panel{
        color: #ffffff;
        background-color: #1C1C1E;
    }
    .info-bottom{
        color: #ffffff;
        background-color: #1C1C1E;
    }
}