body{
    font-family: "Onest", sans-serif;
}
nav{
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 8px;
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 16px auto;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 24px;
    color: #C8C8C8;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}
nav ul:last-child{
    margin-right: 2px;
}
nav a{
    text-decoration: none;
    color: #C8C8C8;
}
nav svg {
    width: 17px;
    aspect-ratio: 1/1;
    opacity: 0;
    transform: translateY(3px);
    transition: all 0.25s ease;
    display: none;
}
nav ul li.active svg {
    opacity: 1;
    transform: translateY(0);
}
#selected{
    background-color: #FBFBFB;
    color: #048FE6;
    border-radius: 10px;
    display: flex;
    gap: 8px;
    padding: 8px;
    align-items: center;
}
#selected svg{
    display: block;
}
.nav-indicator{
    position: absolute;
    background-color: #FBFBFB;
    border-radius: 10px;
    z-index: 0;
    left: 0;
    top: 0;
    transition: left 0.28s cubic-bezier(.2,.9,.3,1),
                top 0.28s cubic-bezier(.2,.9,.3,1),
                width 0.28s cubic-bezier(.2,.9,.3,1),
                height 0.28s cubic-bezier(.2,.9,.3,1);
    pointer-events: none;
    box-sizing: border-box;
}
nav ul li{
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}
nav ul li.active a, nav ul li.active{
    color: #048FE6;
}
nav ul li.active svg{
    display: block;
}

@media(prefers-color-scheme: dark){
    .nav-indicator{
        background-color: #1C1C1E;
    }
    nav{
        background-color: #242424;
    }
    nav a{
        text-decoration: none;
        color: #656566;
    }
}